* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.header,
.main,
.footer {
  width: 100vw;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .container,
.footer .container {
  display: flex;
  align-items: center;

  background-color: #616161;
}

.header .container{
  justify-content: space-around;
  padding: 10px;
}

.footer .container{
  justify-content: space-between;
  padding: 25px 10px;
}

.header-img {
  margin-right: 50px;
  border-radius: 50%;
}

.img-hexlet {
  width: 100%;
  height: auto;
}

.header p {
  font-size: 18px;
  font-weight: bold;
}
.footer .container > div {
  display: flex;
  align-items: center;
}

.footer-text {
  font-size: 1.5em;
  color: #000;
  text-decoration: none;
}
